<h1>{{ title }}</h1>
<hr>
<nav>
    <ul>
        <li>
            <a href="/parent" class="navi">For Parent</a>
        </li>
        <li>
            <a href="/kids" class="navi">For Kids</a>
        </li>
    </ul>
</nav>



