body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main{
  padding: 20px;
}

nav ul{
 width: 100%
}

nav ul li{
  width: 30%;
  display: block;
  background: #0384ec;
  margin: 5px 0;
  padding: 10px;
}

nav ul li a{
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  font-size: 120%;
}


.backBtn{
  padding: 10px;
  text-align: center;
  background: #d65205;
  color: #ffffff;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  font-size: 120%;
  text-decoration: none;
}

.infoPanel{
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #003e77;
  overflow: auto;
}

.intro{
  width: 60%;
  float: right;
}

.intro h4, .trailer h4{
  color: #1457e6;
  font-size: 125%;
  font-weight: 600;
  text-align: left;
}

.trailer{
  width: 35%;
  margin-right: 5%;
  float: left;
}

.thumbnails{
  width: 250px;
  height: auto;
  padding: 5px 0;
  cursor: pointer;
  transition: 0.2s all;
  -webkit-transition: 0.2s all;
}

.thumbnails:hover{
  opacity: 0.5;
}

.videoPanel{
  margin: 25px 0;
  border: 2px solid #707070;
  padding: 10px;
  width: 800px;
}

.intro{
  display: none;
}



